.home{
    min-height:100vh;
    background:linear-gradient(to bottom,#222,#121212);
    margin-left:280px;
    padding:30px;
    color:white;

    .section{

        margin-top:40px;

        h1{
            margin-bottom:20px;
            font-size:40px;
        }

    }

    .grid{
        display:flex;
        gap:20px;
        flex-wrap:wrap;
    }
}